@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;900&family=Roboto:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
}
:root {
    --main-background: #F8F8FF;
    --main-cor-texto: #222222;
    --main-border: #222222;
    --main-elementos: #1982C4;
    --main-neutro: #d9d9d9;
}
.dark-mode:root {
    --main-background: #222;
    --main-cor-texto: #F3F3F3;
    --main-border: #000;
    --main-elementos: #363636;
    --main-neutro: #d9d9d9;
}

body {
    background-color: var(--main-background);
}
 

.item {
    background-color: var(--main-elementos);
    width: 600px;
    height: 150px;
    margin: 30px;
    border-radius: 12px;    
    display: flex;
    align-items: center;   
}
.item  p{
    margin-left: 20px;
    font-size: 2.2rem;
    color: var(--main-cor-texto);
}
.icons, .icons2 {
    margin: 0 20px;
} 
@media (max-width: 425px) {
    main {
        margin-top: 100px;
    }
    .item {
        width: 300px;
        margin: 10px auto;
    }
    .item  p{
        font-size: 1.5rem;
    }
}