
/* Corpo */
main {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;

}
.grid2, .grid3, .grid4, .grid5 {
    background-color: var(--main-elementos);
    width: 600px;
    height: 150px;
    margin: 30px;
    border-radius: 12px;    
    display: flex;
    align-items: center;    
}
.icons, .icons2 {
    margin: 0 20px;
} 
.gridp {
    margin-left: 20px;
    font-size: 3rem;
    color: var(--main-cor-texto);
}

.sessao2 {
    width: 40%;
    position: relative;
    display: flex;
    /* margin: auto; */
    align-items: center;
}
#carlao {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
#balao {
    position: relative;
    top: -220px;
    right: -100px;
}

