@font-face {
    font-family: "Pixel";
    /* src: url('../font/depixelhalbfett.woff') format('truetype'); */
    src: url("../font/fonte1/Cloude_Regular_Bold_1.02.otf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: Pixel;
    font-size: 2rem;
}

/* Corpo */
body {
    width: 100%;
    height: 100vh;
}
main {
    display: flex;
    justify-content: space-between;
    width: 100% ;
}
.grid-left {
    margin: 0 0 0 100px;
}
.grid2,
.grid3,
.grid4,
.grid5 {
    background-color: var(--main-elementos);
    width: 600px;
    height: 150px;
    margin: 30px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}
.icons,
.icons2 {
    margin: 0 20px;
}
.gridp {
    margin-left: 20px;
    font-size: 3rem;
    color: var(--main-cor-texto);
}

.sessao2 {
    position: relative;
    display: flex;
    align-items: center;
}
#carlao { 
    position: absolute;
    right:  200px;
    top: 50%;
    transform: translateY(-50%);
}
#balao {
    position: relative;
    top: -220px;
    right: -100px;
}

@media (max-width: 1024px) {
    #carlao {
        top: 50%;
        transform: translateY(-100%);
        right: 85px;
    }
    .grid2 {
        margin-top: 140px;
    }
}

@media (max-width: 780px) {
    #carlao {
        width: 300px;
        top: 50%;
        transform: translateY(-200%);
        right: 0;
        margin-top: 20px;
    }
    main {
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .grid-left {
        margin: 0 auto;
    }
    .grid2,
    .grid3,
    .grid4,
    .grid5 {
        background-color: var(--main-elementos);
        min-width: 280px;
        max-width: 300px;
        height: 130px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        margin: 10px;
    }
    .grid2 {
        margin-top: 120px;
    }
    .gridp {
        font-size: 1.5em;
    }
    #carlao {
        width: 200px;
        top: 50%;
        transform: translateY(-250%);
        right: 10px;
        margin-top: 20px;
    }
    main {
        margin: 0;
    }
    section {
        margin-top: 100px;
    }
    .icons, .icons2 {
        width: 70px;
    }
}
