@font-face {
    font-family: "Pixel";
    src: url("../font/fonte1/Cloude_Regular_Bold_1.02.otf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-cor-texto);
}

body {
    font-family: "Pixel", sans-serif;
    width: 100%;
    height: 100vh;
}

main {
    width: 600px;
    margin: auto;
}
main p {
    font-family: Pixel;
    font-size: 1.5rem;
    line-height: 45px;
    text-align: justify;

}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-neutro2);
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 5px 27px 107px -10px rgba(0,0,0,0.58);
    -webkit-box-shadow: 5px 27px 107px -10px rgba(0,0,0,0.58);
    -moz-box-shadow: 5px 27px 107px -10px rgba(0,0,0,0.58);
}
input {
    height: 40px;
}
textarea {
    resize: vertical;
    min-height: 200px;
}
input, textarea {
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: var(--main-neutro);
}
label {
    margin-bottom: 5px;
}
button {
    background-color: var(--main-elementos);
    color: black;
    border: none;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 10px;
}

@media (max-width:600px) {
    main {
        width: 320px;
        padding: 10px;
    }
    main p {
        font-size: 2rem;

    }
}