@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;900&family=Roboto:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
}
:root {
    --main-background: #F8F8FF;
    --main-cor-texto: #222222;
    --main-border: #222222;
    --main-elementos: #1982C4;
    --main-neutro: #d9d9d9;
}
.dark-mode:root {
    --main-background: #222;
    --main-cor-texto: #F3F3F3;
    --main-border: #000;
    --main-elementos: #1E1E1E;
    --main-neutro: #d9d9d9;


}

body {
    background-color: var(--main-background);
    font-family: "Roboto", sans-serif;
}
.player {
    padding: 10px;    
    margin: 0;
}

.ranking { 
    max-width: 750px;
    margin: 10px auto;
    position: relative;
    color: var(--main-cor-texto);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.myPosition {
    max-width: 800px;
    height: 150px;
    background-color: var(--main-neutro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 20px auto;
    border-radius: 15px;
}
.position1 {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
.position1 > p {
    text-align: center;
    font-size: large;
}

.position2 {
    margin-left: 40px;
}

.position3 {
    margin-right: 20px;
}

.rp {
    display: flex;
    flex-direction: column;
    font-size: 15pt;
}



.barra {
    width: 300px;
    height: 10px;
    border-radius: 10px;
    margin-right: 15px;
    background-color: var(--main-neutro);
}
.progresso, .myprogresso {
    background-color: var(--main-cor-texto);
    width: 0;
    height: 100%;
    border-radius: 10px;
}
.container-bar {
    background-color: var(--main-elementos);
    width: auto;
    height: 35px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
}
.container-bar > img {
    width: 25px;
    margin: 0 10px;
}
.lvl {
    font-size: 12pt;
    margin-right: 15px;
}
.fotoPerfil {
    width: 100%;
    height: 100%;
}
.ftperfil {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 5.5px solid var(--main-cor-texto);
    overflow: hidden;
}

.imgprofile {
    width: 100%;
    height: 100%;
}
@media (max-width:720px) {
    .myPosition {
        display: block;
        height: 200px;
        position: relative;
    }
    .container-bar {
        width: 300px;
        margin: 20px auto;
    }
    .position3{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
}