@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* html{
    height: 100%;
    background: linear-gradient(to bottom, #ADD8E6, #7895A5);
    background-color: #29339B;
    background-repeat: no-repeat;
}
header>h1{
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    color: #091CD9;
}
header>h1>span{
    font-size: 6rem;
    color: #000E9B;
}
.titulo{
    font: normal bold 2.2rem Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.form>form>input{
    width: 300px;
    height: 30px;
    border: 3px solid #000E9B;
    border-radius: 20px;
    padding-left: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #c2c1f0;
} 
.form>form>p{
    font: normal bold 1.4rem/2 Arial, sans-serif;
}
.form>form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.btn-enviar{
    height: 40px;
    border-radius: 40px;
    margin-top: 32px; 
    font-size: 1.2rem;
    background-color: #000E9B;
    color: #fff5ff;
    font-weight: bold;
}
.hide {
    display: block;
} 

.hide2 {
    display: none;
}
.txt-btn {
    font-size: 0pt;
    color: #000E9B;
} */


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #29339B;
}


header {
    width: 80%;
    height: 80%;
    /* background-color: #222; */
    z-index: -1;
}

header > span {
    font-size: 25em;
    font-family: 'Inter';
    font-style: italic; 
    font-weight: 900;
    line-height: normal;
    background-image: linear-gradient(180deg, #222 0%, rgba(34, 34, 34, 0.83) 0%, rgba(34, 34, 34, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    text-align: center;
}
.span1 {
    height: 480px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.span2 {
    height: 430px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

section {
    width: 340px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(180deg, #74A4BC 0%, rgba(116, 164, 188, 0.44) 33.85%, rgba(116, 164, 188, 0.00) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.t1 {
    color: #FFF;
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 85px;
    left: 28px;
}

#formLogin {
    position: relative;
    top: 200px;
    outline: 0;

}
#formLogin > div > input {
    stroke-width: 2px;
    stroke: #222;
    outline: none;
    border: 0;
    border-bottom: 2px solid #222;
    background: transparent;
    width: 260px;
}
#formLogin > div {
    position: relative;
    left: 25px;
    margin-bottom: 65px;
}
#formLogin >div > i {
    position: relative;
    bottom: -6px;
    margin-right: 5px;
}
input::placeholder {
    color: rgba(34, 34, 34, 0.54);
}